<div class="contain-to-grid sticky" ng-controller="NavbarCtrl">
      <nav class="tab-bar" data-topbar role="navigation" data-options="sticky_on: [small, medium, large]" aria-hidden="true">
        <ul class="title-area">
          <li class="name header-logo small-offset-1 medium-offset-0">
            <h1><a href="/">PMEgg </a></h1>
          </li>
        </ul>

          <section class="left-small show-for-small-only">
            <a class="left-off-canvas-toggle menu-icon" aria-expanded="true" href="#"><span></span></a>
          </section>

        <section class="right tab-bar-section top-bar-section hide-for-small-only">
          <!-- Right Nav Section -->
          <ul class="right">
            <li ng-repeat="item in menu" ui-sref-active="active">
              <a ui-sref="{{item.state}}">{{item.title}}</a>
            </li>
            <li ng-show="isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
            <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="todo">ToDo</a></li>
            <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
            <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
            <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
            <li ng-show="isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li ng-show="isLoggedIn()"><a ui-sref="logout">Logout</a></li>
          </ul>
        </section>
        <!--End of TabNav-->
      </nav>

      <!-- Off Canvas Menu -->
      <aside class="left-off-canvas-menu show-for-small-only">
        <ul class="off-canvas-list">
           <li ng-repeat="item in menu" ui-sref-active="active">
              <a ui-sref="{{item.state}}">{{item.title}}</a>
            </li>
            <li ng-show="isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
            <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="todo">ToDo</a></li>
            <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
            <li ng-hide="isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
            <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
            <li ng-show="isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li ng-show="isLoggedIn()"><a ui-sref="logout">Logout</a></li>
        </ul>
      </aside>
<!-- StickNav ends here -->
</div>

